body
{
	text-align: center;
	background-color: #EFECCA;

}

.bodybleu
{
	text-align: center;
	background-color: #c5d8f7;

}

.bodyvert
{
	text-align: center;
	background-color: #c5f7c6;

}

.bodyrouge
{
	text-align: center;
	background-color: #ed9595;

}

header
{
	margin-bottom: 5px
}

nav
{
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-left: 2px solid;
	border-right: 2px solid;
	border-radius: 10px;
	background-color: #046380;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 15%;
	margin-right: 15%;

}
button
{
	color: #000000;
	font-family: 'Wendy One', sans-serif;
}
footer
{
	position: fixed;
	bottom: -10px;
	right: 10px;
	font-size: 12px;
}

h2
{
	text-decoration: underline;


}

.contentL
{
	font-family: 'Wendy One', sans-serif;
	float: left;
	border-right: solid 2px;
	border-bottom: solid 2px;
	border-left: solid 2px;
	padding-right: 15px

}

.contentR
{
	font-family: 'Wendy One', sans-serif;
	float: right;

}
.contentCenter
{
	text-align: center;
}

#contentAppli
{
	margin-top: 100px;
	background-color: #A7A37E;
	padding-bottom: 50px;
	margin-left: 20%;
	margin-right: 20%;
}

#contentminijeu
{
	background-color: #A7A37E;
	padding-bottom: 50px;
	margin-left: 20%;
	margin-right: 20%;
}

#contentOptions
{
	background-color: #A7A37E;
	border-radius: 50px;
	padding-bottom: 10px;
	padding-top: 75px;
	margin-top: 25px;
	margin-left: 20%;
	margin-right: 20%;
}

#titre
{
	color: #002F2F;
	font-family: 'Bungee Inline', cursive;
	border: 2px solid;
	border-radius: 15px;
	border-color: #046380;
	margin-left: 30%;
	margin-right: 30%;
}
#lien
{
	text-decoration: none;
	color: black;
	font-size: 20px;
}

#lienEnDev
{
	text-decoration: none;
	color: red;
	font-size: 20px;
}

#lienNav
{
	text-decoration: none;
	color: White;
	font-size: 20px;
	margin-left: 25px;
	margin-right: 25px;
}



#red
{
	color: red;
	text-decoration: underline;
}